@charset "utf-8";
/* CSS Document */

/* CSS DocumentProject: ProjectManager Website
----------------------------------------------------------------------------------------------------------*/

/*------------------Layout, Table of Contents-----------------------------------------------------------------
1. BASIC STYLING FOR COMMON HTML ELEMENTS
2. TYPOS
3. COMMON CSS CLASSES
4. HEADER SECTION
5. BODY SECTION
6. FOOTER SECTION
7. MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------*/

/*................................................
    1. BASIC STYLING FOR COMMON HTML ELEMENTS
.................................................*/

/* VARIABLES */
:root {
    --dark-blue: rgb(1, 18, 72); 
    --light-blue: rgb(227, 235, 255);
    --icy-blue: rgb(244, 248, 255);
    --white: rgb(255, 255, 255);
    --primary-color: rgba(1, 18, 72, 0.75);
    --overlay-color: rgba(227, 235, 255, 0.85);
    --menu-speed: 0.75s;
}

html, 
body
{
    margin: 0; 
    padding: 0;
    font-family: "Manrope-Medium", Arial, Helvetica;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

}
body { 
    background-color: var(--icy-blue);  
    min-height: 100vh;
    font-size: 14px;
}
h1 {font-size: 26px;}
h3 {font-size: 18px;}

/*................................................
    2. TYPOS/FONT
.................................................*/

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url('../fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Light';
    src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*................................................
    3. COMMON CSS CLASSES
.................................................*/

.header, .main, .footer {margin: 0 0 25px 0;}

.container {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
* {color: var(--dark-blue);}
.display-flex {display: flex;}
.column-align {flex-direction: column;}
.row-align {flex-direction: row;}
.flex-center{align-items: center; justify-content: center;}
.width-49 {width: 50%;}


/*................................................
    4. HEADER SECTION
.................................................*/
.website-header{color: white;text-decoration: none;}
.header {background-color: var(--dark-blue); height: 60px;}
.header__logo {flex: 2; padding-top: 5px;cursor: pointer;}
.logo {     
    height: 50px;
    flex: 1;
}
.user{color: var(--white); }
.icon {height: 25px;}

/* Hamburger icon section */
.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0.6rem;
    background: var(--primary-color);
    cursor: pointer;
    display: none;
}

/* Hamburger lines */

.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--overlay-color);
    transition: all 0.4s ease;
}

 
.hamburger > div::before,
.hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;
    top: -10px;
}
.hamburger > div::after {top: 10px;}


.options{ flex: 0.5; }
.options > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#expand-projects {display: none;}
#collapse-projects {display: none;}

/*................................................
    5. BODY SECTION
.................................................*/

/* 5.1. NEW PROJECT AREA SECTION */

.banner__button {
    border: 1.5px solid var(--light-blue);
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font: 14px color;
    padding: 10px 20px;
    font-family: "Rubik-Medium", Arial, Helvetica;
}

.banner__button:hover , 
.banner__button:hover > .plus {
    color: var(--icy-blue);
    background-color: var(--dark-blue);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(227, 235, 255, 0.6);
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: transparent;
    margin: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(1, 18, 72, 0.2), 0 6px 20px 0 rgba(1, 18, 72, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-70px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-70px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    background-color: var(--dark-blue);
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0 8px 10px 0 rgba(1, 18, 72, 0.2); 
    padding: 5px 0;
}

.modal-header * {padding: 5px 20px; color: var(--white);}
.modal-body { padding: 20px 20px 0 20px; background-color: var(--icy-blue);}
.rounded-corners {border-radius: 3px; border: 0.3px solid;}
.round-top-corners {border-radius: 3px 3px 0 0; }
.round-bottom-corners {border-radius: 0 0 3px 3px;}
.margin-top5 {margin: 5px 0 0 0;}
.margin-bottom20 {margin: 0 0 20px 0;}
.modal-body__content {padding: 3px;}
.dates {justify-content: space-between;}

#pname-error, 
#cname-error, 
#pmname-error, 
#description-error, 
#dates-error,
#technologies-error {color: rgba(255, 0, 0, 0.639);}

.form-buttons {display:flex;justify-content: space-evenly;}
.add-project {
    background-color: var(--dark-blue);
    width: 40%;
    color: var(--white);
    padding: 5px;
}
.cancel-project {
    color: var(--dark-blue);
    width: 30%;
    background-color: var(--white);
    border: 0.6px solid var(--light-blue);
}
.question-mark {
    width: 50px;
}

/* 5.2. PROJECT LIST SECTION */

.section { margin: 25px auto 0 auto; align-items: inherit;} /*align-items: flex-end; when content overflows*/

.project-list {
    background-color: var(--light-blue);
    align-items: flex-end;
    width: 20%;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
}

::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-thumb {
    background: rgba(227, 235, 255, 0.747); 
    border-radius: 10px; 
    box-shadow: inset  0 3px 20px 0 rgba(1, 18, 72, 0.2);
}

.project-list::-webkit-scrollbar {width: 6px;}
.project-list::-webkit-scrollbar-thumb {background: var(--icy-blue); border-radius: 10px;}
.project-list::-webkit-scrollbar-thumb:hover {box-shadow: inset  0 3px 20px 0 rgba(1, 18, 72, 0.2);}

.project-progress {
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.stretch-heading { flex: 0 0 50%;}

.project-list__item {
    margin: 12px;
    padding: 5px 10px 5px 15px;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 30px;
}

.project-list__item:hover { box-shadow: inset  0 3px 10px 0 rgba(1, 18, 72, 0.2);}

.circular {
    height: 7vh;
    width: 7vh;
    background-color: var(--light-blue);
    border-radius: 100%;
}

.circular .inner {
    height: 5vh;
    width: 5vh;
    background-color: var(--white);
    border-radius: 100%;
}

/* 5.3. PROJECT DETAILS SECTION */

.project-headings--main::-webkit-scrollbar {display: none;}
.project-headings--main {overflow-y:hidden ;overflow-x: auto;}
.project-details { 
    width: 80%;    
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0 15px 0 0;
}
.project-headings { justify-content: space-between;}
.project-headings--details,
.project-headings--resources,
.project-headings--invoice,
.project-headings--edit {
    background-color: var(--light-blue);
    border-top: 2px solid  var(--light-blue);
    border-left: 2px solid  var(--light-blue);
    border-right: 2px solid var(--light-blue);
    border-radius: 15px 15px 0 0;
    padding: 15px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
}

.project-headings--details,
.project-headings--resources,
.project-headings--invoice {flex: 1;}

.project-headings--details,
.project-headings--edit { background-color: var(--white);}
.project-headings--edit-logo {height: 20px; }
.project-headings--edit-logo:hover {transform: scale(1.2);transition: all 0.6s ease-in;}

.project-tabs {
    padding: 20px; 
    background-color: var(--white);
    border-bottom: 2px solid  var(--light-blue);
    border-left: 2px solid  var(--light-blue);
    border-right: 2px solid var(--light-blue);
}

.main-details,
.project-technology,
.project-description {
    padding: 15px; 
    border: 2px solid  var(--light-blue);
    border-radius: 6px;
    margin: 0 0 10px 0;
}

.section1 {flex: 4; margin: 0 10px 0 0;}
.section1 span {margin: 0 0 20px 0;}
.section2 {flex:2; margin: 0 10px 0 0;}
.section3 {justify-content: space-between;}

#project-progress--main {
    justify-content: space-between; 
    align-items: center;
}

.circular--main {
    height: 20vh;
    width: 20vh;
    background-color: var(--light-blue);
    border-radius: 100%;
}

.circular--main .inner--main {
    height: 14vh;
    width: 14vh;
    background-color: var(--white);
    border-radius: 100%;
    animation: none;
}

.tags {
    padding: 6px;
    background-color: var(--light-blue);
    margin: 2px 2px 20px 2px;
    border-radius: 10px;
    line-height: 2.5rem;
}

.project-technology--heading {margin-bottom: 10px;}

.display-content { margin: 10px 0 0 0;}
.progress{justify-content: space-between; align-items: center;}

/* Slider */
.range {flex: 0 0 96%; background: var(--white); height: 6px;}
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]:focus{
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--dark-blue);
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--dark-blue);
}


/* 5.4. RESOURCES SECTION */

.resource {display: none;justify-content: space-between;}

.add-resource {
    cursor: pointer;
    padding: 0 0 0 10px;
    margin: 0 0 15px 0;
}
.add-resource .logo {height:20px;transform: scale(1.5);}
.add-resource .logo:hover {transform: scale(1.75); transition: all 0.6s ease-in-out;}

.resource-details {flex: 0 0 90%;}
.billable {align-items: center; padding: 0;}
#rate-label {display: none;}
#name-error, #email-error, #role-error, #rate-error,
#working-days--errormsg
{color: rgba(255, 0, 0, 0.639);}


/* 5.5. INVOICE SECTION */
.invoice {display: none;}
.invoice-content{flex: 0 0 75%;}
.invoice-generate { 
    padding: 10px; 
    align-items: center;
    justify-content: space-between; 
    margin: 15px 0; 
    background-color: var(--icy-blue);
    border-radius: 6px;
}
.invoice-generate--button {
    border: 1px solid var(--white); 
    background-color: var(--white); 
    padding: 5px 15px; 
    border-radius: 6px;
    cursor: pointer;
}
.invoice-generate--button:hover {box-shadow: 0 3px 20px 0 rgba(1, 18, 72, 0.2);}
.invoice-generate--button:focus{transform: scale(0.9);}
.days {
    border-top: none; 
    border-right: none; 
    border-left: none; 
    width: 30px;
    margin: 0 0 0 15px;
}
.days:focus{width: 50px; border-bottom: 0.6px solid var(--dark-blue); transition: all 0.5s;}

/* 5.6. Resource / Invoice tables */
.tables { width: 100%; border-collapse: separate; border-spacing: 5px;}
th {background-color: var(--dark-blue); color: var(--white); border-radius: 3px;}
th, td { padding: 5px ;}
td {border: 0.5px solid var(--light-blue); border-radius: 3px;}
tbody tr:nth-child(even) {background-color:  var(--light-blue);} /* Alternate colors for table rows */
.remove-background {background-color: var(--white); border: none;}
.table-icons {height: 1.3rem; background-color: var(--white); cursor: pointer;}
.margin-right10 {margin: 0 10px 0 0;}

/*................................................
    6. FOOTER SECTION
.................................................*/

.footer {
    background-color: var(--dark-blue);
    height: 55px;
    margin-bottom: 0;
    margin-top: auto;
}
.footer__content {color: var(--white);}
